<!--
<div class="row"  ng-repeat="x in news |filter:params.id">
        <div class="col-md-offset-2 col-md-9">
                <h1 style="color: blueviolet;" > {{x.title}} </h2>               
                <img width='70%' src="{{x.thread.main_image}}" >        
                           <h4><strong>{{x.author}}</strong></h4> 
                           <h4>source :<strong> {{x.thread.site_full}} </strong> |  {{ x.published | date:'yyyy-MM-dd'}} | 
                          <i style="color: rgb(0, 153, 255);" class="fa fa-thumbs-up" aria-hidden="true"></i> {{x.thread.social.facebook.likes}} 
                            </h4>  
                          <br>
                           <p style="font-size: 20px;padding: 50px;">{{x.text}}</p>
        </div>
</div>-->
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
                <section id="mainContent">
                        <div class="content_bottom" ng-repeat="x in news |filter:params.id">
                                  <div class="col-lg-8 col-md-8">
                                    <div class="content_bottom_left">
                                      <div class="single_page_area">
                                        <ol class="breadcrumb">
                                          <li><a href="#">Home</a></li>
                                          <li><a href="#">Berita</a></li>
                                          <li class="active">{{x.title}}</li>
                                        </ol>
                                        <h2 class="post_titile">{{x.title}}</h2>
                                        <div class="single_page_content">
                                          <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>{{x.author}}</a> <span><i class="fa fa-calendar"></i>{{ x.published | date:'yyyy-MM-dd'}}</span> <a href="#"><i class="fa fa-tags"></i>{{x.thread.site_full}}</a> </div>
                                          <img class="img-center" src="{{x.thread.main_image}}" alt="">
                                          <p>{{x.text}}</p>
                                          <!--
                                          <button class="btn">Default</button>
                                          <button class="btn btn-primary">Primary</button>
                                          <button class="btn btn-success">Success</button>
                                          <button class="btn btn-info">Info</button>
                                          <button class="btn btn-warning">Warning</button>
                                          <button class="btn btn-danger">Danger</button>-->
                                        </div>
                                      </div>
                                    </div>
                                    <div class="post_pagination">
                                      <div class="prev"> <a class="angle_left" ng-href="#!/main/{{news[ news.indexOf(x)-1 ]._id}}" ><i class="fa fa-angle-double-left"></i></a>
                                        <div class="pagincontent"> <span>Previous Post</span> <a ng-href="#!/main/{{news[ news.indexOf(x)-1 ]._id}}">{{news[ news.indexOf(x)-1 ].title}}</a> </div>
                                      </div>
                                      <div class="next">
                                        <div class="pagincontent"> <span>Next Post</span> <a ng-href="#!/main/{{news[ news.indexOf(x)+1 ]._id}}">{{news[ news.indexOf(x)+1 ].title}}</a> </div>
                                        <a class="angle_right" ng-href="#!/main/{{news[ news.indexOf(x)+1 ]._id}}"><i class="fa fa-angle-double-right"></i></a> </div>
                                    </div>
                                    <div class="share_post"> <a class="facebook" href="#"><i class="fa fa-facebook"></i>Facebook</a> <a class="twitter" href="#"><i class="fa fa-twitter"></i>Twitter</a> <a class="googleplus" href="#"><i class="fa fa-google-plus"></i>Google+</a> <a class="linkedin" href="#"><i class="fa fa-linkedin"></i>LinkedIn</a> <a class="stumbleupon" href="#"><i class="fa fa-stumbleupon"></i>StumbleUpon</a> <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>Pinterest</a> </div>
                                  </div>
                        </div>
                                 
                </section>
</div>